
// color palette
$theblue: #21aae9;
$maingray: #3a3a3a;
$secgray: #3a3a3a;
$somewhite : #ffffff;
$othergray : rgb(227, 227, 227);
$thegray: #e4e4e4;



//fonts
$primary-font: 'Open Sans', sans-serif;
