<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-12 col-lg-offset-1  main">
            <div class=" row breadcrumb login-nav">
                <div class="col-md-6">
                    <h4>Crear Evento</h4>
                </div>
                <div class="col-md-6 text-right session-info">
                    <img src="images/apple-touch-icon.png" height="35" width="35">
                    <span class="user">ramon jose</span><img src="images/logout.png">
                </div>
            </div>
            <div class="row gpr-form">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <form name="formtipo" novalidate="">
                        <h4>TIPO DE ZONAS</h4>
                        </br>
                        <div class="form-group">
                            <label for="gpr-name">Color de entrada</label>
                            <input type="text" class="form-control" ng-model="tzef.color" name="gpr-id" id="gpr-id" placeholder="Color de entrada" required>
                        </div>
                        </br>
                        </br>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                      <button ng-disabled="formtipo.$invalid" ng-click="doGuardar()" type="submit" class="btn btn-evento" ng-bind="buttons.register"></button>
                                    <button ng-click="Cancelar();buttons.register='Guardar'" type="submit" class="btn btn-evento">Cancelar</button>
                                    <button ng-click="doEliminar()" ng-bind="buttons.eliminar" type="submit" ng-show="myvalue" class="btn btn-evento">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <table class="table  gpr-table">
                        <thead>
                            <tr>
                                <th>Color de entrada</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody  dir-paginate="op in tipo_zona|itemsPerPage:4" pagination-id="detail">
                            <tr ng-click="editar(op.id)">
                                <td>{{op.color}}</td>
                                <td><a>Editar</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <dir-pagination-controls max-size="5" pagination-id="detail" direction-links="true" boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
